/* SELECTOR AND MAIN CLASSES */
:root
{
    --primary-color:white;
    --spacing:10px;
}


#modal-button
{
    padding:20px 30px;
    background:black;
    color:white;
    font-size: 2rem;
}

span
{
    display:inline-block;
    font-size: 2.5rem;
    color:var(--primary-color);
   padding:10px 20px;
}

input[type="image"]
{
    width:30px;
    float:right;
    padding:var(--spacing);
}
.paragraph
{
    font-size: 1.8rem;
    color:black;
    font-weight: 700;
    padding:var(--spacing);
    margin:0px;
}

/* COMPONENT STYLE */
.modal-content
{
    border:5px solid blue;
    width:100%;
    height:100px;
}

.modal-container
{
    display:none;
    grid-template-columns: 800px;
    grid-template-rows: 70px 100px 70px;
    grid-gap:0px;
    grid-template-areas: 
    "header"
    "body"
    "footer";
    
   padding-left:400px;
   position:fixed;
   top:0;
   left:0;
  
  
   width: 100%; /* Full width */
   height: 100%; /* Full height */
  overflow: auto;

 
}

.header
{
    grid-area:header;
    background:red;
}

.body
{
    grid-area:body;
    background:grey;
}

.footer
{
    grid-area:footer;
    background:red;
    font-size:2rem;
}

.footer p
{
    margin:0px;
    padding:var(--spacing);
    color:white
}

/* ANIMATION */

.open.modal-container
{
    display:grid;
    animation: moveContainer 0.5s;
    transform: translateY(100px);
    height:100%;
    
}

@keyframes moveContainer
{
    0%
    {
        transform:translateY(-340px);
    }

    100%
    {
        transform:translateY(100px);
    }
}

